input, button, h6{
  margin: .5rem;
}
input{
    border: 1px solid rgb(241, 241, 241);
    padding: .3rem;
    color: rgb(160, 160, 160);
    border-radius: 9px;
}
.btn-sing-in{
    background: linear-gradient(to right, purple, rgb(204, 90, 204));
    border: none;
    border-radius: 8px;
    padding: .3rem 1.2rem;
    color: white;
    font-size: 8px;
}
h6{
    color: rgb(172, 122, 172);
    font-size: 10px;
}