*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f2f2f2;
}
.main{
    width: 500px;
    border: 1px solid green;
    text-align: center;
    margin: 2rem auto;
}
h3{
    margin: 1rem;
}
.icons {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}
.icon{
    border: 1px solid grey;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.inputs {
    margin: 2rem;
}
input {
    margin: .5rem 0; 
    border-radius: 3px;
    padding: .5rem;
    width: 72%;
}
.ckeck-input{
   display: flex;
}
.ckeck-input input{
    margin-left: -5rem;
}
.ckeck-input h6{
    margin-left: -9.7rem;
    margin-top: .5rem;
}
.buttons{
    margin: 1rem;
}
.buttons button{
    margin: .5rem .7rem;
    padding: .5rem .7rem;
    border-radius: 5px;
}